html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

&nbsp;

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#wrapper {
  width: 1300px;
  margin-right: auto;
  margin-left: auto;
  background-color: #FF9;
}

header {
  height: 587px;
  background-color: #353541;
}

#header {
  position: relative;
}

#menuhref {
  display: block;
  width: 55px;
  height: 35px;
}

#menulink:hover {
  background-image: url("Untitled(1).png");
}

#menulink {
  position:absolute;
  width: 55px;
  height: 35px;
  left: 85px;
  top: 47px;
  background-image: url("Untitled.png");
}

#name {
  position:absolute;
  width:328px;
  height: 199px;
  top: 194px;
  left: 643px;
}

#smallline {
  line-height: 0;
}

#myname {
  font-size: 38px;
  line-height: 36px;
  color: #ffffff;
  font-family: "Monotype Corsiva";
  text-align: center;
  border-top: 2px solid #fb636f;
  border-bottom: 2px solid #fb636f;
  padding: 16px 0px 20px 0px;
}

#whoami {
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  font-family: "Monotype Corsiva";
  text-align: center;
  margin-bottom: 20px;
}

#button {
  background-color: #fb636f;
  width: 170px;
  height: 49px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#hire {
  display: block;
  height: 100%;
  text-decoration: none;
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
  font-family: "Monotype Corsiva";
}

#button:hover {
  background-color: #fa3241;
}

#cell {
  width: 170px;
  height: 49px;
  display: table-cell;
  vertical-align: middle;
}
#body{

}

#aboutMe {
  width: 1300px;
  height: 611px;
  background-color: #f9f9f9;
}
